@import "./variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    color: $titleColor;
}

// Container
.mid-container{
    width: 70%;
    margin: 0 auto;
}

// Colors
.p-text{
    color:$pColor;
    font-size: .875rem;
}

.special-color{
    color: $specialColor;
}

// Button

.btn-common{
    display: inline-block;
    color: white;
    padding: .9375rem 1.875rem;
    background-color: $specialColor;
    border-radius: .3125rem;
    font-size: .75rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: $mainColor;
    }
}